-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, (if @selected_ratings == nil then true else (@selected_ratings.include?(rating)) end), :id => "ratings[#{rating}]"
  = submit_tag 'Refresh', :id => "ratings_submit"


%table#movies
  %thead
    %tr
      %th{:class => @title_head}= link_to 'Movie Title', movies_path(:sort => 'title', :ratings => @selected_ratings), :id => 'title_head'
      %th Rating
      %th{:class => @release_head}= link_to 'Release Date', movies_path(:sort => 'rating', :ratings => @selected_ratings), :id => 'release_head'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
